# .github/workflows/ci.yml
name: CI - Retrain Model and Build Docker

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**' # Trigger hanya kalau ada perubahan di MLProject
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # 1. Setup Environment
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow>=2.6 dagshub scikit-learn pandas numpy joblib matplotlib scikit-optimize

      # 2. Run MLflow Project (Training)
      - name: Run MLflow Project for Training
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/german-credit-prediction.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # 4. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # 5. Build Docker Image and Push to Docker Hub
      - name: Build Docker Image and Push to Docker Hub
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/german-credit-prediction.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          IMAGE_NAME="rafeeedah/german_credit_model:latest"
          MODEL_URI="models:/RandomForestGermanCreditModel/1"
          
          # Build Docker image dari model MLflow
          python -m mlflow models build-docker -m "$MODEL_URI" -n "german-credit-image"
          
          # Tag ulang supaya sesuai Docker Hub
          docker tag german-credit-image ${{ secrets.DOCKER_USERNAME }}/german_credit_model:latest

          # Push image ke Docker Hub
          docker push ${{ secrets.DOCKER_USERNAME }}/german_credit_model:latest
