# .github/workflows/ci.yml
name: CI - Retrain Model and Build Docker

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**' # Trigger hanya kalau ada perubahan di MLProject
  workflow_dispatch:

jobs:
  train-and-dockerize:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # 1. Setup Environment
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow dagshub scikit-learn pandas numpy joblib matplotlib seaborn scikit-optimize

      # 2. Run MLflow Project (Training)
      - name: Run MLflow Project for Training
        env:
          MLFLOW_TRACKING_URI: https://dagshub.com/${{ secrets.DAGSHUB_USERNAME }}/german-credit-prediction.mlflow
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # 3. Promote Best Model to Registry Production
      - name: Promote Best Model to Registry
        run: |
          python MLProject/promote_best_model.py
        env:
          MLFLOW_TRACKING_URI: https://${{ secrets.DAGSHUB_USERNAME }}:${{ secrets.DAGSHUB_TOKEN }}@dagshub.com/rafeeedah/german-credit-prediction.mlflow

      # 4. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # 5. Build Docker Image and Push to Docker Hub
      - name: Build Docker Image and Push to Docker Hub
        run: |
          MODEL_URI="models:/GermanCreditModel/Production"
          IMAGE_NAME="rafeeedah/german_credit_model"
          
          mlflow models build-docker \
            --model-uri $MODEL_URI \
            --name $IMAGE_NAME
          
          docker tag $IMAGE_NAME:latest $IMAGE_NAME:${{ github.sha }}
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
        env:
          MLFLOW_TRACKING_URI: https://${{ secrets.DAGSHUB_USERNAME }}:${{ secrets.DAGSHUB_TOKEN }}@dagshub.com/rafeeedah/german-credit-prediction.mlflow
